html{
    box-sizing: border-box;
    height: 100%;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141413;
}

nav a{
    text-decoration: none;
    color: white;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
    padding: 16px;
}

nav{
    background-color: #484844;
    font-size:larger;
}

.banner img{
    width: 15vh;
    border-radius: 50%;
}

.banner{
    text-align: center;
    justify-content: center;
}

.container img{
    padding: 30px;
    width: 45vh;
}

.container aside{
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.container{
    background: #979777;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #141413;
}

figcaption{
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

main h1{
    color: #c8c8b4;
    text-align: center;
}

.casas{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

figure img{
    border-radius: 10%;
    width: 25vw;
    outline: none;
}

figure:hover{
    scale: 0.9;
    transition-duration: 0.3s;
}

figcaption{
    color: aliceblue;
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    background-color: aliceblue;
}

.patroes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.patroes img{
    border-radius: 45%;
    padding: 15px
}

.funcionarios{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.funcionarios img{
    border-radius: 45%;
    padding: 15px;
}

@media only screen and (max-width: 600px){

    nav{
        width: 100%;
        height: auto;
    }

    .banner img{
        padding: 30px;
        width: 30vh;
    }

    .casas{
        width: 100%;
        flex-direction: column;
    }

    .patroes{
        width: 100%;
        flex-direction: column;
    }

    .funcionarios{
        width: 100%;
        flex-direction: column;
    }
}